<% layout("./layouts/boilerplate.ejs") -%>
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= err.message %></h4>
            <%if(process.env.NODE_ENV!=="production"){%>
            <p class="px-3">
                <%= err.stack %>
            </p>
            <%} %>
        </div>
    </div>
</div>
