<% layout("./layouts/boilerplate.ejs") -%>
<!-- Google tag (gtag.js) -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6RE3KEBJM2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6RE3KEBJM2');
</script>


<div class="container d-flex  justify-content-center align-items-center">
    <div class="row flex-fill">           
      <div class="col-md-4 offset-md-4">     
        <div class="card shadow ">
          <img src="/img/registration.jpg"
          alt="" class="card-img-top" />
          <div class="card-body">
          <h4 class="card-title"> Register</h4>
          <form action="/register" method="post" novalidate class="validated-form">
            <div class="mb-1">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username"required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                </div>
                <div class="mb-1">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" type="email" id="email" name="email"required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                    <div class="mb-3">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" type="password" id="password" name="password"required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success">
                          Registration</button>
                       </div>         
                      </form>      
            </div>    
            </div>        
                  </div>