*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}


.note {
  font-size: calc(0.5vw + 0.75rem);
  text-align: center;
  opacity: 0.5;
}

.button {
  display: inline-block;
  padding: 0.5em 1em;
  color: #fff;
  font-weight: bold;
  font-size: 0.6875em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  background-color: rgba(255,0,0,0.5);
  border-radius: 1.5em;
  cursor: pointer;
  text-decoration: none;
}

.calendar-wrap {
  width: 100%;
  padding: 0.75em;
  margin: 0;
    display:none;
  font-size: 4vw;
  background-color: #fff;
  border-radius: 1.5em;
  user-select: none;
  box-shadow:
    0 0.0625em 0.25em rgba(0,20,50,0.2),
    0 0.5em 0.5em 0.125em rgba(0,20,50,0.1);
}

@media (min-width: 500px) {
  .calendar-wrap {
    width: 450px;
    font-size: 1.25rem;
  }
}

.month-year {
  margin-bottom: 0.75em;
  font-weight: normal;
  font-size: 1.25em;
  text-align: center;
}

.calendar {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 0.75em;
  overflow: hidden;
  border-collapse: collapse;
  -webkit-tap-highlight-color: transparent;
}

.day-title {
  width: 4em;
  height: 4em;
  vertical-align: top;
  font-weight: bold;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  box-shadow:
    inset 0 -0.875em #fff,
    inset 0 -1em rgba(0,20,50,0.1);
}

.day {
  position: relative;
  height: 3em;
}

.day:focus {
  outline: none;
}

.day:focus .day-number::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%,-50%);
  border: 0.25em solid rg;
  border-radius: 50%;
}

.day.active-a:focus .day-number::after,
.day.active-b:focus .day-number::after {
  width: 100%;
  height: 100%;
}

.day.today:focus .day-number::after {
  width: 102%;
  height: 102%;
}

.day:hover span.day-number {
  color: black;
}

.day:first-child,
.day:last-child {
  color: rgba(255,0,0,0.5);
}

.day.range {
  color: black;
  background-color: rgba(255,0,0,0.5);
}

.day.range.active-a,
.day:not(.range) + .day.range.active-b {
  background-color: transparent;
  box-shadow: inset -1.5em 0 rgba(255,0,0,0.5);
}

.day.range.active-b,
.day.range + .day.range.active-a {
  background-color: transparent;
  box-shadow: inset 1.5em 0 rgba(255,0,0,0.5);
}

.day.range.active-a:first-child,
.day.range.active-b:first-child {
  box-shadow: none;
}

.day.range.active-a:first-child + .day.range,
.day.range.active-b:first-child + .day.range {
  box-shadow: -1.5em 0 #e1f5fe;
}

.day.range.active-a:first-child + .day:not(.range),
.day.range.active-b:first-child + .day:not(.range) {
  box-shadow: -4.5em 0 #e1f5fe;
}

.day.range.active-a:first-child + .day.range.active-b {
  box-shadow:
    -1.5em 0 #e1f5fe,
    inset 1.5em 0 #e1f5fe;
}

.day-number {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  border-radius: 50%;
}

.day.active-a span.day-number,
.day.active-b span.day-number {
  color: #fff;
  background-color: rgba(255,0,0,0.9);
}

.day.prev-mon .day-number,
.day.next-mon .day-number {
  color: rgba(0,0,0,0.3);
}

.day.prev-mon[class*="active"] .day-number,
.day.next-mon[class*="active"] .day-number {
  color: rgba(255,255,255,0.5);
  background-color: rgba(255,0,0,0.5);
}

.day.today span.day-number {
  color: #fff;
  border: 0.25em solid transparent;
  box-shadow: inset 0 0 0 2em #37474F;
}

.calendar-wrap .reset {
  display: block;
}
.calendar-date{
    display: block;
}
.modal-content{
  background-color: transparent;
}
.modal-body{
  padding: 0;
}