<% layout("./layouts/boilerplate.ejs") -%>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6RE3KEBJM2" crossorigin="anonymous"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6RE3KEBJM2');
</script>

<div class="container d-flex  justify-content-center align-items-center mt-2">
  <div class="row flex-fill">                
    <div class="col-md-4 offset-md-4" >     
      <div class="card shadow " style="max-height: 30px;">
        <img src="/img/thankyou2.jpg"
        alt="" class="card-img-top thankyouimg"/>
        <div class="card-body">
        <h4 class="card-title text-center"> Thank you for showing Interest</h4>   
        <p class="card-text">Just a reminder that this is just a demo site, so your booking is not actually confirmed.<br> However, thank you for using this site! Feel free to add reviews or add new posts!</p>
        <a href="/homeBnB" class="btn btn-primary d-flex justify-content-center">Go Back to our Houses</a>
   
          </div>    
          </div>        
                </div>

            </div>
        </div>
    </div>
